<ngb-carousel>
  <ng-template ngbSlide>
    <img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Awesome-beautiful-wallpaper_124413582_294.jpg" alt="Random first slide" style="height: 500px; width: 1000px;">
    <div class="carousel-caption">
      <h3>Hobbit House</h3>
      <p>Here lives a random Hobbit</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://static.pexels.com/photos/206359/pexels-photo-206359.jpeg" alt="Random second slide" style="height: 500px; width: 1000px;">
    <div class="carousel-caption">
      <h3>The old man and the lake</h3>
      <p>The old man is waiting the ferry</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="http://www.publicdomainpictures.net/pictures/180000/velka/beautiful-cat-1463991290P5W.jpg" alt="Random third slide" style="height: 500px; width: 1000px;"> 
    <div class="carousel-caption">
      <h3>Little cat</h3>
      <p>A random cat from Brazil</p>
    </div>
  </ng-template>
</ngb-carousel>

