<div class="card" style="width: 20rem;">
    <img class="card-img-top" [src]="post.imagePath" style="max-height: 300px;" alt="{{ post.title }}">
    <div class="card-block">
      <h4 class="card-title">{{ post.title }}</h4>
      <p class="card-text">{{ post.description }}</p>
    </div>
  </div>

  <!-- <div class="pull-left">
      <h4 class="list-group-item-heading">{{ post.title }}</h4>
      <p class="list-group-item-text">{{ post.description }}</p>
    </div>
    <span class="pull-right">
          <img
            [src]="post.imagePath"
            alt="{{ post.title }}"
            class="img-responsive"
            style="max-height: 50px;">
        </span> -->